<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490826526276-dfamhu25aai3h01alfoqlq0534g4pce1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490826526276-dfamhu25aai3h01alfoqlq0534g4pce1</string>
	<key>API_KEY</key>
	<string>AIzaSyAQnvV5qZGiw6tEm1nuu_u7aDc9mIhgrIs</string>
	<key>GCM_SENDER_ID</key>
	<string>490826526276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scener.app</string>
	<key>PROJECT_ID</key>
	<string>scener-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>scener-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490826526276:ios:59e2fc8769c65ecd1b5611</string>
	<key>DATABASE_URL</key>
	<string>https://scener-dev.firebaseio.com</string>
</dict>
</plist>